.Manuals {

}
.text-gray {
    color: #808080;
}

.green {
    color: #008000;
}

.center-text {
    text-align: center;
    vertical-align: middle;
}

#footer {
    border-top: 1px solid #333;
    height: 30px;
}